.body {
  background-color: black;
  color: black;
}

.content {
  position: relative;
  top: 25px;
  text-align: center;
  align-items: center;
  height: 80rem;
  width: 50%;
  left: 17%;
  box-shadow: 1px 1px 1px 1px;
  padding: 4rem;
  background-color: whitesmoke;
  border-radius: 1%;
  border: 2px solid #f76c6c;
  font-family: "Courier New", Courier, monospace;
}

.title {
  text-align: center;
  padding-top: 2.5rem;
  color: #f76c6c;
}
